@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


html {
  scroll-behavior: smooth;
}

/* Optional: nicer section anchor offset if you add a sticky header later */
:root {
  --anchor-offset: 90px;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}